@import "tailwindcss";


:root {
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light;
  color: var(--neutral4);
  background-color: #F3FAF3;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /*   Custom Colors   */
  --green0: #FFFFFF;
  --green1: #F3FAF3;
  --green2: #B8F4B2; 
  --green3: #6CB14C;
  --green4: #4d8335;

  --blue3: #00a2ff;
  --red3: #ff0000;

  --gradient-green1: linear-gradient(to right, #FFFFFF, #F3FAF3);
  --gradient-green2: linear-gradient(to right, #F3FAF3, #B8F4B2);
  --gradient-green3: linear-gradient(to right, #80c560, #6CB14C);
  --gradient-green4: linear-gradient(to right, #6CB14C, #4d8335);

  --neutral0: #FFFFFF;
  --neutral1a: rgb(241, 241, 241);
  --neutral1: #e6e6e6;
  --neutral2: #969696;
  --neutral3: #6d6d6d;
  --neutral4: #2c2c2c;
  --neutral5: #000000;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.0em;
  line-height: 1.5;
  font-weight: 600;
}

h2 {
  font-size: 2.4em;
  line-height: 1.4;
  font-weight: 600;
}

h3 {
  font-size: 1.9em;
  line-height: 1.35;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 600;
}

h5 {
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 600;
}

h6 {
  /* For Text-Logos */
  /*color: var(--green3);*/
  font-family: rubik;
  font-size: 3em;
  line-height: 1;
  font-weight: 600;
}

label{
  color:var(--neutral2);
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 500;
}

input{
  background-color: var(--neutral1a);
  border-radius: 1rem;
  height: 3.5rem;
  padding-left: 3rem;
}

textarea{
  background-color: var(--neutral1a);
  border-radius: 1rem;
  height: 3.5rem;
  padding-left: 3rem;
}


.nav-button{
  background-color: var(--green0);
  color: var(--neutral2);
  /*width: 17rem;
  height: 4.5rem;*/
  border-radius: 1.5rem;
  text-align: start;
  padding-left: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
            0 2px 4px -2px rgba(0,0,0,0.1);
}.nav-button:hover{
  background-color: var(--neutral1);
}


button {
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--green3);
  color: var(--green0);
  padding: 0.4rem;
  height: 3.5rem;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 300ms;
}
button:hover {
  /*
  scale: 1.03;
  border-color: #ffffff;*/
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  /*outline: 2px solid var(--green3);
  outline-offset: 2px;*/
}

input[type="checkbox"]:focus,
input[type="checkbox"]:focus-visible {
  outline: none;
}

.gradient-bg{
  background: linear-gradient(to right, #85da5d 0%, var(--green2) 50%, #85da5d 100%);
  background: linear-gradient(to right, #49ac56 0%, #99f5a5 50%, #49ac56 100%);
  background: linear-gradient(to right, #3ec750 0%, #99f5a5 50%, #3ec750 100%);
}

.scrollbar-hover {
  scrollbar-color: rgba(156,163,175,0) transparent; /* thumb hidden */
  transition: scrollbar-color 300ms ease-in-out;
}

.scrollbar-hover:hover {
  scrollbar-color: rgba(224, 224, 224, 0.534) transparent; /* thumb visible */
}



.shake {
  animation: shake 0.4s ease;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
}

.close-icon {
  @apply 
         hover:no-underline
         hover:scale-110
         hover:cursor-pointer
         text-4xl text-[var(--neutral3)] 
         bg-transparent;
         transition: 300ms;
}

.panel{
  border-width: 0.15rem;
  border-color: rgba(156,163,175,0) transparent;
  transition: 300ms;
}
.panel:hover{
  border-color: var(--green2);
}

.trans-smooth{
  transition: 500ms;
}

.streak-badge{
  transition: 300ms;
}
.streak-badge:hover{
  scale: 1.05;
}


.btn-3D {
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 0.05s ease;
}

.btn-3D:hover {
}


.btn-3D:active {
  
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
  transform: translateY(3px); 
}


/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/